.form {
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  border-top: 1px solid green;
  box-shadow: 0px 3px 10px 0px grey;
  margin: 10px;
}
.space {
  padding: 5px;
}
.button-container {
  margin: auto;
  text-align: center;
  .checkButton {
    width: 50%;
    background-color: #000;
    color: #fff;
  }
}
.birthday {
  width: 30% !important;
  margin-right: 3.33%;
}

button:disabled {
  background: #757575 !important;
}
.loader {
  border           : 2px solid #fff;
  border-top       : 2px solid #000;
  border-radius    : 50%;
  width            : 15px;
  height           : 15px;
  -webkit-animation: spin 1.5s linear infinite;
  animation        : spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}
