<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3"></div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
    <form class="form" novalidate [formGroup]="formValidation">
      <div class="form-input">
        <span>Tipo de Identificación</span>
        <select name="identificationType" formControlName="identificationType">
          <option [value]="item.value" *ngFor="let item of identificationTypes">{{item.label}}</option>
        </select>
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.identificationType">
        <span *ngIf="formValidation.get('identificationType')?.hasError(validation.type)
        && (formValidation.get('identificationType')?.dirty
        || formValidation.get('identificationType')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-input">
        <span>Numero de identificación</span>
        <input type="text" formControlName="identificationNumber">
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.identificationNumber">
        <span *ngIf="formValidation.get('identificationNumber')?.hasError(validation.type)
        && (formValidation.get('identificationNumber')?.dirty
        || formValidation.get('identificationNumber')?.touched)">
          {{ validation.message }}
        </span>
      </div>

      <div class="form-input">
        <span>Nombres</span>
        <input type="text" formControlName="names">
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.names">
        <span *ngIf="formValidation.get('names')?.hasError(validation.type)
        && (formValidation.get('names')?.dirty
        || formValidation.get('names')?.touched)">
          {{ validation.message }}
        </span>
      </div>

      <div class="form-input">
        <span>Apellidos</span>
        <input type="text" formControlName="lastnames">
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.lastnames">
        <span *ngIf="formValidation.get('lastnames')?.hasError(validation.type)
        && (formValidation.get('lastnames')?.dirty
        || formValidation.get('lastnames')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-input">
        <span>Email</span>
        <input type="email" formControlName="email">
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.email">
        <span *ngIf="formValidation.get('email')?.hasError(validation.type)
        && (formValidation.get('email')?.dirty
        || formValidation.get('email')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-input">
        <span>Numero de telefono</span>
        <input type="text" formControlName="phoneNumber">
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.phoneNumber">
        <span *ngIf="formValidation.get('phoneNumber')?.hasError(validation.type)
        && (formValidation.get('phoneNumber')?.dirty
        || formValidation.get('phoneNumber')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-input">
        <span>Fecha de nacimiento</span>
        <br>
        <select name="day" class="birthday" formControlName="day">
          <option [value]="day" *ngFor="let day of days">{{day}}</option>
        </select>
        <select name="month" class="birthday" formControlName="month">
          <option [value]="item.value" *ngFor="let item of months">{{item.label}}</option>
        </select>
        <select name="year" class="birthday" formControlName="year">
          <option [value]="year" *ngFor="let year of years">{{year}}</option>
        </select>
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.day">
        <span *ngIf="formValidation.get('day')?.hasError(validation.type)
        && (formValidation.get('day')?.dirty
        || formValidation.get('day')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.month">
        <span *ngIf="formValidation.get('month')?.hasError(validation.type)
        && (formValidation.get('month')?.dirty
        || formValidation.get('month')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="form-errors" *ngFor="let validation of validationMessages.year">
        <span *ngIf="formValidation.get('year')?.hasError(validation.type)
        && (formValidation.get('year')?.dirty
        || formValidation.get('year')?.touched)">
          {{ validation.message }}
        </span>
      </div>
      <div class="space"></div>
      <div class="button-container">
        <button class="checkButton" [disabled]="formValidation.invalid" (click)="checkCustomerData()">
          <span *ngIf="!loading">Verificar</span>
          <div class="loader" *ngIf="loading">
          </div>
        </button>
      </div>
      <div class="incorrect-validation"
        *ngIf="formValidation.valid && ( score <= 60 || prospect == false || personJudicialRecords.length>0)">
        <span *ngIf="prospect == false"> No te encontramos en nuestros registros  </span>
        <span *ngIf="personJudicialRecords.length>0"> Encontramos algunos reportes judiciales, esto te impide continuar </span>
        <span *ngIf="score <= 60"> Tu puntaje obtenido no es suficiente</span>
      </div>
      <div class="correct-validation"
        *ngIf="formValidation.valid && ( score > 60 && prospect == true && personJudicialRecords.length == 0)">
        <span>Has pasado correctamente la validación</span>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3"></div>
</div>
